<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net46" />
  <package id="Serko.Client.Logs.Core" version="2.0.4" targetFramework="net46" />
  <package id="Serko.Client.Logs.Memory" version="1.1.4" targetFramework="net46" />
  <package id="Serko.Logging" version="3.2.9" targetFramework="net46" />
  <package id="Serko.Logging.Core" version="3.0.8" targetFramework="net46" />
  <package id="Serko.Performance" version="1.0.6" targetFramework="net46" />
  <package id="Serko.Performance.Core" version="1.0.3" targetFramework="net46" />
  <package id="Serko.Services.Common" version="3.0.2" targetFramework="net46" />
  <package id="Serko.Services.Core" version="3.9.0" targetFramework="net46" />
  <package id="Serko.Services.Diagnostics.Ping" version="1.0.2" targetFramework="net46" />
  <package id="Serko.Services.Diagnostics.Version" version="1.0.0" targetFramework="net46" />
  <package id="Serko.Services.Diagnostics.Wiring" version="1.3.3" targetFramework="net46" />
  <package id="Serko.Services.Help" version="3.2.3" targetFramework="net46" />
  <package id="Serko.Services.Help.Core" version="3.2.3" targetFramework="net46" />
  <package id="Serko.Services.Http" version="3.3.0" targetFramework="net46" />
  <package id="Serko.Services.Http.Core" version="3.3.0" targetFramework="net46" />
  <package id="Serko.Services.Logs" version="3.3.0" targetFramework="net46" />
  <package id="Serko.Services.Razor" version="3.2.7" targetFramework="net46" />
  <package id="Serko.Services.Razor.Core" version="3.2.7" targetFramework="net46" />
  <package id="Serko.Services.Swagger" version="3.3.4" targetFramework="net46" />
  <package id="Serko.Services.Swagger.Core" version="3.3.4" targetFramework="net46" />
  <package id="Serko.Services.WebHost" version="3.9.1" targetFramework="net46" />
  <package id="Serko.Services.WebHost.Core" version="3.9.0" targetFramework="net46" />
  <package id="Serko.Unity" version="1.0.1" targetFramework="net46" />
  <package id="Serko.Wiring" version="3.3.6" targetFramework="net46" />
  <package id="Serko.Wiring.Core" version="3.3.6" targetFramework="net46" />
  <package id="Swashbuckle.Core" version="5.2.1" targetFramework="net46" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net46" />
</packages>