<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serko.Logging" publicKeyToken="6f3596f6ed7570ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.8.2745" newVersion="3.0.8.2745" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serko.Logging.Implementation" publicKeyToken="6f3596f6ed7570ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.2.3349" newVersion="3.4.2.3349" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serko.Services.Http" publicKeyToken="6f3596f6ed7570ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.3592" newVersion="3.6.0.3592" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serko.Client.Logs.Contract" publicKeyToken="6f3596f6ed7570ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.3297" newVersion="3.0.0.3297" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serko.Services.Http.Security" publicKeyToken="6f3596f6ed7570ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.3592" newVersion="3.6.0.3592" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="Serko.Wiring" switchValue="All" />
      <source name="Serko.Services" switchValue="All" />
      <source name="Serko.Services.WebApi.Trace" switchValue="All" />
      <source name="Serko.Services.Http.Security" switchValue="All" />
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="MaxParticipants" value="30" />
    <add key="SendGridApiKey" value="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" />
    <add key="SessionCacheExpiryHours" value="6" />
  </appSettings>
</configuration>