body{
    background-image: url("https://conficast.blob.core.windows.net/images/default_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #94CDD3;
}

.session-access-container{
    position: relative;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.session-access-create-container {
    animation-name: cancelCreateSessionAnimation;
    animation-duration: 500ms;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 70px;
}

.session-access-create-container-active{
    animation-name: createSessionAnimation;
    animation-duration: 500ms;
    top: 80px;
    .floating-create-button{
        top: -60px;
    }
}

.session-access-create-session{
    position: relative;
    margin: auto;
    max-width: 400px;
    overflow-y: scroll;
}

.floating-create-button{
    margin-right: 30px;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
}

.floating-start-session-button{
    margin-right: 30px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.vote-session-container{
    .app-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    .session-components{
        padding-top: 2.8rem;
        position: relative;
        max-width: 600px;
        margin: auto;
        text-align: center;

        .participant-list{
            text-align: left;
        }
    }
}

@keyframes createSessionAnimation {
    from {
            top: 800px;
        }
    to {
            top: 80px;
        }
}

@keyframes cancelCreateSessionAnimation {
    from {
            bottom: 700px;
        }
    to {
            bottom: 70px;
        }
}